.contenido{
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  height: 100vh;
  text-align: center;
  padding: 3%;
}

h2{
  text-align: center;
  padding: 3%;
  background-color: white;
  border: 1px solid black;
  width: 80%;
  border-radius: 25px;
  margin: 2% 9%;
}

.botones{
  margin: 2% 0%;

}