/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
 
}
.btn{
  width: 10%;
  height: 9vh;
  border-radius: 15px;
  margin: 0 5%;
  background-color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}
